*{
    font-family:'segoe ui Light';
}

body{
    background-color:#fff;
    padding-top:50px;
    font-family:'segoe ui Light';
    padding-bottom:20px;
}

.body-content {
    padding-left: 10px;
    padding-right: 10px;
    margin:5%;
}

.abc{
    font-family:'Segoe UI Light';
}